<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Access</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul id="permission_actions" class="nav nav-pills">
                <li class="mx-1">
                    <button id="create_perm" class="btn btn-light btn-bordered">Create</button>
                </li>
                <li class="mx-1">
                    <button id="edit_perm" class="btn btn-light btn-bordered">Edit</button>
                </li>
                <li class="mx-1">
                    <button id="delete_perm" class="btn btn-light btn-bordered">Delete</button>
                </li>
                <li class="mx-1">
                    <button id="readonly_view_perm" class="btn btn-light btn-bordered">View</button>
                </li>
            </ul>
            <div class="flex-table">
                <div class="ft-header">
                    <div class="ft-row">
                        <div class="ft-col width10">
                        </div>
                        <div class="ft-col width30">
                            User or Group
                        </div>
                        <div class="ft-col width30">
                            Type
                        </div>
                        <div class="ft-col width30">
                            Access
                        </div>
                    </div>
                </div> <!--- header -->
                <div class="ft-body" id="access_items">
                    <!--
                    <div class="ft-row row1">
                        <div class="ft-col width10">
                        </div>
                        <div class="ft-col width30">
                           margaret
                        </div>
                        <div class="ft-col width30">
                            Zulassen
                        </div>
                        <div class="ft-col width30">
                            Lesen &amp; Schreiben
                        </div>
                    </div>
                    -->
                </div> <!-- end of body -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success action margin-xs rename">Apply</button>
            <button data-dismiss="modal" class="btn margin-xs btn-secondary cancel">Cancel</button></a>
        </div>
    </div> <!-- modal content -->
</div>