<ol class="breadcrumb float-sm-left">
    <li class="breadcrumb-item">
        <a href="/"><i class="fa fa-home px-1"></i>
            <div class="d-none d-sm-inline-block">
                <%= gettext('Home') %>
            </div>
        </a>
    </li>
    <% for (i=0; i < nodes.length; i++) { %>
        <% node = nodes.at(i) %>
        <li class="breadcrumb-item">
            <a href="<%= node.url %>" class="breadcrumb-node"  data-id="<%= node.get('id') %>">
            	<%= node.get('title') %>
            </a>
        </li>
    <% } %>
</ol>
