<% if (nodes.length > 0) { %>
    <ul class="d-flex grid">
        <% for (i=0; i < nodes.length; i++) { %>
            <% node = nodes.at(i) %>
            <li class="node ui-widget-content node-w1 d-flex flex-column align-items-center" data-id="<%= node.get('id') %>" data-cid="<%= node.cid %>" data-url="<%= node.url %>">
                <% if (node.is_document())  { %>
                    <div class="placeholder document">
                        <img class="zero_pix" src="<%=  node.get('img_src') %>" />
                        <div class="document-loading"></div>
                    </div>
                <% } %>
                <div class="icon-<%= node.get('ctype') %>">

                </div>
                <ul class="node-tags d-flex flex-column align-items-end">
                    <% tags = node.get('tags'); %>
                    <% for (t=0; t < tags.length && t < 3; t++) { %>
                        <% tag = tags[t]; %>
                        <li class="tag"  style="background: <%= tag['bg_color'] %>;color: <%= tag['fg_color'] %>" >
                            <%= tag['name'] %>
                        </li>
                    <% } %>
                    <% if (tags.length > 3) { %>
                        <li>...</li>
                    <% } %>
                </ul>
                <div class="icons">
                    <% if (node.is_readonly()) {  %>
                        <i class="fa fa-lock"></i>
                    <% } %>
                </div>
                <input type="checkbox" name="_selected_action" value="<%= node.get('id') %>" class="action-select" />
                <div class="title tooltip">
                    <div class="led">
                        <% if ( node.is_document() ) { %>
                            <% if ( node.get('ocr_status') == 'succeeded' ) { %>
                                <%= led_succeeded_svg %>
                            <% } else { %>
                                <%= led_unknown_svg %>
                            <% } %>
                        <% } %>
                    </div>
                    <a href="<%= node.url %>" class="<%= node.get('ctype') %>" data-id="<%= node.get('id') %>" alt="<%=  node.full_title() %>"><%= node.short_title(20) %></a>
                    <span class="tooltiptext"><%= node.full_title()  %></span>
                </div>

            </li>
        <% } %>
    </ul>
<% } else { %>
    <ul id="empty-folder">
        <div class="d-flex flex-column align-items-center">
            <i class="fa fa-folder">
            </i>
            <strong class="text-muted"><%=  gettext("This folder is empty") %></strong>
        </div>
    </ul>
<% } %>