<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <a 
          href="#"
          class="header sort d-flex justify-content-between align-items-center"
          data-col="type"
        >
          Type
          <i class="fa <%= table.cols[0].sort_icon_name %>"></i>
        </a>
      </th>
      <th scope="col">
        <a
          href="#"
          class="header sort d-flex justify-content-between align-items-center"
          data-col="title"
        >
          Title
          <i class="fa <%= table.cols[1].sort_icon_name %>"></i>
        </a>
      </th>
      <% for (i=0; i < table.key_cols.length; i++) { %>
        <% column = table.key_cols[i] %>
        <% if (column) { %>
          <th scope="col">
            <a 
              href="#"
              class="header sort d-flex justify-content-between align-items-center"
              data-col="key" data-key="<%= column.key %>"
            >
              <%= column.key %>
              <i class="fa <%= column.sort_icon_name %>"></i>
            </a>
          </th>
        <% } %>
      <% } %>
      <th scope="col">
        <a
          href="#"
          class="header sort d-flex justify-content-between align-items-center"
          data-col="created_at"
        >
          Created At
          <i class="fa  <%= table.cols[table.cols.length -1].sort_icon_name %>"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <% for (i=0; i < table.rows.length; i++) { %>
        <% row = table.rows[i] %>
    <tr class="node" data-id="<%= row[0].id %>" data-cid="<%= row[0].cid %>" data-url="<%= row[0].url %>">
        <% for (j=0; j < row.length; j++) { %>
          <td><%= row[j].value %></td>
        <% } %>
    </tr>
    <% } %>
  </tbody>
</table>