<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdown_view_opt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if (is_list) { %>
        <i class="fa fa-bars"></i>
      <% } else { %>
        <i class="fa fa-th"></i>
      <% } %>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a href="#" class="dropdown-item display-grid">
          <i class="fa fa-th"> </i><span class="px-2">
            <%= gettext('Grid') %>
          </span>
          <% if (is_grid) { %>
            <i class="fa fa-check text-green"></i>
          <% } %>
        </a>
        <a href="#" class="dropdown-item display-list"><i class="fa fa-bars"></i>
          <span class="px-2"><%= gettext('List') %></span>
          <% if (is_list) { %>
            <i class="fa fa-check text-green"></i>
          <% } %>
      </a>
    </div>
</div>

<div class="dropdown order">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdown_order_opt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-sort-amount-up"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right sort" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu-left dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">
              <%= gettext('Title') %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item sort asc title" href="#">
                <% if (sort_field == 'title' && sort_order == 'asc') { %>
                  <i class="fa fa-check text-success"></i>
                <% } %>
               <%= gettext('Asc') %>
              </a></li>
              <li><a class="dropdown-item sort desc title" href="#">
                <% if (sort_field == 'title' && sort_order == 'desc') { %>
                  <i class="fa fa-check text-success"></i>
                <% } %>
                <%= gettext('Desc') %>
              </a></li>
            </ul>
          </li>
          <li class="dropdown-submenu dropdown-submenu-left"><a class="dropdown-item dropdown-toggle" href="#">
            <%= gettext('Date') %>
          </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item sort asc date" href="#">
                <% if (sort_field == 'date' && sort_order == 'asc') { %>
                  <i class="fa fa-check text-success"></i>
                <% } %>
                <%= gettext('Asc') %>
              </a></li>
              <li><a class="dropdown-item sort desc date" href="#">
                <% if (sort_field == 'date' && sort_order == 'desc') { %>
                  <i class="fa fa-check text-success"></i>
                <% } %>
                <%= gettext('Desc') %>
            </a></li>
            </ul>
          </li>
          <li class="dropdown-submenu-left dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">
            <%= gettext('Type') %>
          </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item sort asc type" href="#">
                <% if (sort_field == 'type' && sort_order == 'asc') { %>
                  <i class="fa fa-check text-success"></i>
                <% } %>
                <%= gettext('Asc') %>
              </a></li>
              <li><a class="dropdown-item sort desc type" href="#">
                <% if (sort_field == 'type' && sort_order == 'desc') { %>
                  <i class="fa fa-check text-success"></i>
                <% } %>
                <%= gettext('Desc') %>
              </a></li>
            </ul>
          </li>
        </ul>
    </div>