<div class="modal-header">
    <h1>Metadata</h1>
</div>
<div class="modal-body vertical">
     <ul class="horizontal menu">
        <li>
            <input id="add_simple_meta" class="btn btn-neuter" type="button" value="Create Simle Key"/>
        </li>
        <li>
            <input id="add_comp_meta" class="btn btn-neuter" type="button" value="Create Comp Key"/>
        </li>
     </ul>
     Simple keys
     <ul id="simple_keys" class="vertical menu">
        <% for (i=0; i < kvstore.length; i++) { %>
        <li class='d-flex'><input id='<%= kvstore[i].id %>' name='key' type='text' value='<%= kvstore[i].key %>'>
                <button type='button' class='close key text-danger mx-1' aria-label='Close'>
                <span aria-hidden='true'>&times;</span></button>
        <% } %>
        </li>
     </ul>
     Comp Key
     <ul id="comp_keys" class="vertical menu">
     </ul>
</div>
<div class="modal-footer horizontal fl-end">
    <input type="submit" class="btn action margin-xs" value='OK' />
    <a class="btn btn-neuter margin-xs cancel">Cancel</a>
</div>