<ul class="page_thumbnails">
    <% for (i=0; i < pages.length; i++) { %>
      <% page = pages.at(i) %>
        <li class="page_thumbnail <% if (i==0) { %> first <% } else if (i==pages.length - 1) { %> last <% } %>">
          <div class="arrow-up-control">
              <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
          </div>
          <img src="/document/<%= document.get('id') %>/preview/4/page/<%= page.get('number') %>">
          <div class="arrow-down-control">
              <a href="#"><i class="fa fa-arrow-circle-down"></i></a>
          </div>
          <div class="page_number"><%= page.get('number') %></div>
        </li>
    <% } %>
</ul>