<div class="modal-dialog modal-dialog-centered" role="document">    <div class="modal-content">
        <div class="modal-header">
            <h5><%= gettext('Permission Editor') %></h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
            <label class="padding-x-xs"><%= gettext('User or Group') %>:</label>
            <select id="perm_user_or_group" class="selectpicker" multiple title="{% trans 'Nothing selected' %}">
            </select>
            <label class="padding-x-xs"><%= gettext('Type') %>:</label>
            <select name="access_type">
                <option selected value="allow"><%= gettext('Allow') %></option>
                <option value="deny"><%= gettext('Deny') %></option>
            </select>
            <formset class="vertical">
                <label class="padding-x-xs horizonal">
                    <input class="margin-right-sm" 
                    type="checkbox" 
                    name="change_perm"><%= gettext('Change Permissions') %>
                </label>
                <label class="padding-x-xs horizonal">
                    <input class="margin-right-sm" 
                    type="checkbox" 
                    name="take_ownership"><%= gettext('Take Ownership') %>
                </label>
                <label class="padding-x-xs horizonal">
                    <input class="margin-right-sm" 
                    type="checkbox"
                    name="read"
                    ><%= gettext('Read') %>
                </label>
                <label class="padding-x-xs horizonal">
                    <input class="margin-right-sm" 
                    type="checkbox"
                    name="write"
                    ><%= gettext('Write') %>
                </label>
                <label class="padding-x-xs horizonal">
                    <input class="margin-right-sm" 
                    type="checkbox"
                    name="delete"
                    ><%= gettext('Delete') %>
                </label>
            </formset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success action margin-xs rename">
                <%= gettext('Apply') %>
            </button>
            <button data-dismiss="modal" class="btn margin-xs btn-secondary cancel">
                <%= gettext('Cancel') %>
            </button></a>
        </div>
    </div> <!-- modal-content -->
</div> <!-- modal-dialog -->