 <% for (let i=0; i < tags.models.length; i++) { %>
    <% model = tags.models[i] %>
     <div class="tag d-flex align-items-center" style="color: <%= model.get('fg_color') %>; background:  <%= model.get('bg_color') %>; border-color: <%= model.get('bg_color') %>;">
       <span style="color: <%= model.get('fg_color') %>;"><%= model.get('name') %></span>
       <i 
        class="fa fa-times tag-remove"
        data-name="<%= model.get('name') %>">
        </i>
     </div>
 <% } %>
<input list="all_tags2" class="tag-input"/>
<datalist id="all_tags2">
<% for (let i=0; i < all_tags.models.length; i++) { %>
    <% model = all_tags.models[i] %>
     <option value="<%= model.get('name') %>">
<% } %>
</datalist>

