<div id="upload_feedback" class="border-thin card">
    <div class="card-header container-fluid" id="newsHeading">
        <div class="row">
            <div class="col">
                <% if (files.is_summary_success()) { %>
                    <h5 class="text-success">Done!</h5>
                <% } else if (files.is_summary_error()) { %>
                    <h5 class="text-danger">Error</h5>
                <% } else { %>
                    <h5>Uploading...</h5>
                <% } %>
            </div>
            <div class="col">
                <button type="button" class="close text-danger" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    <div class="hidden uploader-details">
        <div class="details">
            
            <% for (i=0; i < files.length; i++) { %>
                <% file = files.at(i) %>
                <div style="background-size: <%= file.get('progress') %>% 100% %>" class="row <% if (file.is_error()) { %> status-fail <% } else { %> status-success <% } %>">
                    <div class="col-1">
                        <div class="status">
                            <% if (file.is_error()) { %>
                                <i class="fa fa-times text-danger"></i>
                            <% } else if (file.is_success()) { %>
                                <i class="fa fa-check-circle text-success"></i>
                            <% } else if (file.is_progress()) { %>
                                <i class="fa fa-spinner"></i>
                            <% }  %>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="filename"><%= file.get('title') %></div>
                        <div class="message"><%= file.get('msg') %></div>
                    </div>
                    <div class="col-2 text-right">
                        <div class="size"><%= file.human_size %></div>
                    </div>
                    <div class="col-2 text-right">
                        <div class="lang"><%= file.get('lang') %></div>
                    </div>
                </div>
            <% } %>
            
        </div>
    </div>
    <div id="upload_feedback_summary">
        <div class="row my-2 align-items-center">
            <div id="uploader_short_status" class="col-4 status">
                <% if (files.is_summary_error()) { %>
                    <i class="fa fa-times  text-danger"></i>
                <% } else { %>
                <i class="fa fa-check-circle  text-success"></i>
                <%  } %>
            </div>
            <div id="uploader_text_status" class="col-4 filename padding-left-md">
            </div>
            <div class="col-4 text-right">
                <button class="btn btn-neuter btn-bordered toggle-details">
                    Details
                </button>
            </div>
        </div>
    </div>
    <div class="progress progress-bar-animated progress-sm active">
        <div class="progress-bar <% if (files.is_summary_error()) { %>progress-bar-fail <% } else { %> progress-bar-success <% } %>" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= files.progress %>%">
            <span class="sr-only">0% Complete</span>
        </div>
    </div>
</div>