@import "~bootstrap/scss/bootstrap";

@import "./fonts.scss";
@import "./colors.scss";
@import "./typo.scss";
@import "./forms.scss";
@import "./spinners.scss";
@import "./changelists.scss";
@import "./colors";
@import "./reset";
@import "./spinners";
@import "./typo";
@import "./toasts";
@import "./tooltip";
@import "./paginator";
@import "./user_form";
@import "./control_sidebar";
@import "./icons";

@import "./views/uploader.scss";
@import "./views/browse.scss";
@import "./views/metadata.scss";
@import "./views/document.scss";

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #616161;
    color: #fff;
    box-shadow: none;
}

.hidden {
    display: none;
}

.content-header {
    padding: 0;
    padding-top: 1rem;
}

.dropdown-item.disabled {
    a {
        color: #aaa;
    }
}

li#delete.dropdown-item:hover {
    background-color: red;
    a {
        background-color: red;
        color: white;
    }
}

ul, ol {
    li {
        a {
            color: #585959;
        }
        a:hover {
            text-decoration: none;
            color: #008a23;
        }
    }
}

footer {
    a {
        color: #585959;
    }
    a:hover {
        text-decoration: none;
        color: #008a23;
    }
}

.content-wrapper {
    background-color: white;
}

#breadcrumb {
    background-color: #f4f6f9;
}

.btn-bordered {
    border: 1px solid #ccc;
}

.node-w1 {
    width: 8rem;
}
