@import "./theme";


.square {
    width: 6rem;
    height: 6rem;
}

.demo_box {
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    border-left: 1px solid $demo_box_border;
    border-right: 1px solid $demo_box_border;
}

.demo_code {
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    background-color: $demo_code_bg
}