/*
* Right sidebar provided by AdminLTE3.
* Right sidebar displays insformation about Metadata, Access etc
*/
.control-sidebar {
    h5 {

        padding-bottom: 0.5rem;
    }

    .muted-border-bottom {
        border-bottom: 1px solid #888;
    }

    .border-bottom {
        border-bottom: 1px solid white;
    }
}