@import "./theme";
@import "./responsive";

// multiselect dropdown for users and groups
// will be displayed horizontally
.input-group {
    display: flex;
    width: 100%;
    input {
        width: 100%;
    }
}

.form-control {
    border-radius: 0;
}

form.change_password, form.token, form.user, form.group, form.generic {
    border: none;
}

#user_form {
    padding: 0rem 1rem;

    .field-is_staff, .field-is_superuser, .field-is_active {
        display: none;
    }

    #id_password {
        display: none;
    }
    .field-username {
        div {
            display: flex;
            flex-direction: column;
        }
    }
}

form#userpreferencemodel_form {
    padding: 1rem;
}

form.labels-above {
    p {
        display: flex;
        flex-direction: column;
    }
}

fieldset.module {
    border: none;
    margin: 0.25rem;
    padding: 0;
}

fieldset.module.vertical {
    .form-row {
        div {
            display: flex;
            flex-direction: column;

            div.horizontal {
                flex-direction: row;
            }
        }
    }
}

.help {
    ul {
        padding: 1.5rem;
        background-color: lighten($action_green, 55%);
        li {
            list-style-type: circle;
        }
    }
}

.flex-table {
    display: flex;
    flex-direction: column;

    .ft-col {
        padding: 0.25rem;
    }

    .border-right {
       border-right: 1px solid $table_border_color; 
    }

    .border-left {
       border-left: 1px solid $table_border_color; 
    }

    .border-top {
       border-top: 1px solid $table_border_color; 
    }

    .border-bottom  {
       border-bottom: 1px solid $table_border_color; 
    }

    .ft-header {
        .ft-row {
            display: flex;
            flex-direction: row;
            color: $main_link_color;
            border-bottom: 1px solid $table_border_header_bottom_color;
            border-top: 2px solid $table_border_header_top_color;

            .ft-col {
                background-color: $table_header_bg_color;
            }
        }
    }

    .ft-body {
        display: flex;
        flex-direction: column;
        .row1.ft-row {
            display: flex;
            flex-direction: row;
        }
        .row2.ft-row {
            display: flex;
            flex-direction: row;
        }

        .row2.ft-row:hover, .row1.ft-row:hover {
            background-color: $table_highlight_bg_color;
        }

        .ft-row {
            border-bottom: 1px solid $light_line;
         }

         // last row, at the bottom 'touches' paginator, which
         // has a top-border.
         .ft-row:last-child {
            border-bottom: none;
         }

        .ft-col {
            padding: 0.25rem;
            i {
                width: 2rem;
                min-width: 2rem;
                height: 2rem;
                background-size:100% 100%;
                display: inline-block;
            }
            i.yellow-folder {
                background-image: url(../img/folder.svg);
            }
        }

    }
}

.errorlist {
    margin: 0;
    padding: 0;
}