.status.success {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/green_checkmark.svg);
    background-size: 100% 100%;
}

.status.success-wire {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/green_checkmark_wire.svg);
    background-size: 100% 100%;
}

.status.fail {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/red_cross.svg);
    background-size: 100% 100%;
}

.status.fail-wire {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/red_cross_wire.svg);
    background-size: 100% 100%;
}

.icon-checkmark {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/check.svg);
    background-size: 100% 100%;
}

.icon-cross {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/cross.svg);
    background-size: 100% 100%;
}

.icon-eye {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/ceye.svg);
    background-size: 100% 100%;
}


.icon-eye-blocked {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/oeye.svg);
    background-size: 100% 100%;
}

.icon-lock {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/lock.svg);
    background-size: 100% 100%;
}

.icon.basetreenode, .icon-folder {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/folder.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon.task, .icon-task {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/task.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-user {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/user.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon.user, .icon-users {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/users.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon.user-black {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/user_black.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon.user-black-disabled {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/user_black_disabled.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon.group, .icon-groups {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/groups.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon.group-black {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/group_black.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon.group-black-disabled {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/group_black_disabled.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon.inbox, .icon-inbox {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/inbox.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-filter {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/filter.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-grid {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/grid.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-list {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/list.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-order {
    width: 1.3rem;
    height: 1rem;
    background-image: url(../img/icons/order.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-sw-left-panel {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/sw-left-panel.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-sw-right-panel {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/sw-right-panel.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-goback {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/goback.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-scissors {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/scissors.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.disabled > .icon-scissors {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/scissors_disabled.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-paste {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/paste.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.disabled > .icon-paste {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/paste_disabled.svg);
    background-size: 100% 100%;
    display: inline-block;
}


.icon-edit {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/edit.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-edit.reverse {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/edit_reverse.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.disabled > .icon-edit {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/edit_disabled.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-download {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/download.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.disabled > .icon-download {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/download_disabled.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-properties {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/properties.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.disabled > .icon-properties {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/properties_disabled.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-trash {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/trash.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.disabled > .icon-trash {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/icons/trash_disabled.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-empty {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/empty.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-search {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/icons/search.svg);
    background-size: 100% 100%;
    display: inline-block;
}

.icon-search-light {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/icons/search_light.svg);
    background-size: 100% 100%;
}

.icon-arrow-up {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background-image: url(../img/icons/arrow-up.svg);
    background-size: 100% 100%;
}

.icon-arrow-down {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background-image: url(../img/icons/arrow-down.svg);
    background-size: 100% 100%;
}