.horizontal-between {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /** Horizontal list alway aligns items central to horizontal axis*/
    align-items: center;
}
