.search-tag {
    border: 1px solid #ccc;
    margin: 0 0.2rem;
    padding: 0 0.2rem;
    border-radius: 0.25rem;
}

#search_results {
    h4 {
        font-weight: 400;
        a {
            color: #444;
        }
        ul {
            li.tag {
                padding: 0rem 0.2rem;
                margin: 0;
                margin-left: 1rem
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            padding: 1rem 0.5rem;
        }
        li:hover {
            background-color: $result_list_hover_bg_color;
            outline: 1px solid $result_list_hover_bg_color;
        }
    }
    .page_highlight {
        color: #aaa;        
    }
}