<div class="card">
    <div class="card-body">
      <div class="card-title">
        <label><%= verbose_name  %></label>
    </div>
      <div class="card-text">
        <select class="custom-select">
            <% for (let x=0; x < policy_choices.length; x++ ) { %>
                <% choice = policy_choices[x] %>
                <option id="<%= choice[0] %>" <%= choice[2] %> >
                    <%= choice[1] %>
                </option>
            <% } %>
        </select>
        <div id="current_policy_states">
            <%= current_policy_states %>
        </div>
    </div>
</div>