<div class="card">
    <div class="card-body">
        <div class="card-title">
        <label>Info</label>
        </div>
        <div class="card-text">
            <ul class="collection">
                <li class="collection-item"><%= message %></li>
                <li class="collection-item d-flex flex-row-reverse bordered">
                    <a href="#" class="btn btn-primary btn-flat text-white download">
                        <i class="fa fa-download"></i>
                        <%= gettext('Download') %></a>
                </li>
            </ul>
        </div> 
    </div>
</div>