<div class="card">
    <div class="card-body">
        <div class="card-title">
        <label>Info</label>
        </div>
        <div class="card-text">
            <ul class="collection">
                <li class="collection-item"><%= message %></li>
                <li class="collection-item d-flex flex-row-reverse">
                    <a href="#" class="btn btn-primary text-white download"><%= gettext('Download') %></a>
                </li>
            </ul>
        </div> 
    </div>
</div>