@import "./reset";
@import "./colors";
@import "./flex";
@import "./responsive";
@import "./icons";
@import "./page";
@import "./cookie_policy";
@import "./topmenu";
@import "./document_change_form";


.wrap {
    margin: 0 auto;
    width: 70%;
    max-width: 70%;

    @include respond(tab-port) {
        width: 85%;
        max-width: 85%;
    }
    @include respond(tab-land) {
        width: 85%;
        max-width: 85%;
    }
    @include respond(phone) {
        width: 100%;
        max-width: 100%;
    }
}


.padding-xs { padding: .25rem; }
.padding-sm { padding: .5rem; }
.padding-md { padding: 1rem; }
.padding-lg { padding: 1.5rem; }
.padding-xl { padding: 3rem; }

.padding-x-xs { padding: .25rem 0; }
.padding-x-sm { padding: .5rem 0; }
.padding-x-md { padding: 1rem 0; }
.padding-x-lg { padding: 1.5rem 0; }
.padding-x-xl { padding: 3rem 0; }

.padding-y-xs { padding: 0 .25rem; }
.padding-y-sm { padding: 0 .5rem; }
.padding-y-md { padding: 0 1rem; }
.padding-y-lg { padding: 0 1.5rem; }
.padding-y-xl { padding: 0 3rem; }


.padding-top-xs { padding-top: .25rem; }
.padding-top-sm { padding-top: .5rem; }
.padding-top-md { padding-top: 1rem; }
.padding-top-lg { padding-top: 1.5rem; }
.padding-top-xl { padding-top: 3rem; }

.padding-right-xs { padding-right: .25rem; }
.padding-right-sm { padding-right: .5rem; }
.padding-right-md { padding-right: 1rem; }
.padding-right-lg { padding-right: 1.5rem; }
.padding-right-xl { padding-right: 3rem; }

.padding-bottom-xs { padding-bottom: .25rem; }
.padding-bottom-sm { padding-bottom: .5rem; }
.padding-bottom-md { padding-bottom: 1rem; }
.padding-bottom-lg { padding-bottom: 1.5rem; }
.padding-bottom-xl { padding-bottom: 3rem; }

.padding-left-xs { padding-left: .25rem; }
.padding-left-sm { padding-left: .5rem; }
.padding-left-md { padding-left: 1rem; }
.padding-left-lg { padding-left: 1.5rem; }
.padding-left-xl { padding-left: 3rem; }


.margin-xs { margin: .25rem; }
.margin-sm { margin: .5rem; }
.margin-md { margin: 1rem; }
.margin-lg { margin: 1.5rem; }
.margin-xl { margin: 3rem; }

.margin-x-xs { margin: .25rem 0; }
.margin-x-sm { margin: .5rem 0; }
.margin-x-md { margin: 1rem 0; }
.margin-x-lg { margin: 1.5rem 0; }
.margin-x-xl { margin: 3rem 0; }

.margin-y-xs { margin: 0 .25rem; }
.margin-y-sm { margin: 0 .5rem; }
.margin-y-md { margin: 0 1rem; }
.margin-y-lg { margin: 0 1.5rem; }
.margin-y-xl { margin: 0 3rem; }

.margin-top-xs { margin-top: .25rem; }
.margin-top-sm { margin-top: .5rem; }
.margin-top-md { margin-top: 1rem; }
.margin-top-lg { margin-top: 1.5rem; }
.margin-top-xl { margin-top: 3rem; }

.margin-right-xs { margin-right: .25rem; }
.margin-right-sm { margin-right: .5rem; }
.margin-right-md { margin-right: 1rem; }
.margin-right-lg { margin-right: 1.5rem; }
.margin-right-xl { margin-right: 3rem; }

.margin-bottom-xs { margin-bottom: .25rem; }
.margin-bottom-sm { margin-bottom: .5rem; }
.margin-bottom-md { margin-bottom: 1rem; }
.margin-bottom-lg { margin-bottom: 1.5rem; }
.margin-bottom-xl { margin-bottom: 3rem; }

.margin-left-xs { margin-left: .25rem; }
.margin-left-sm { margin-left: .5rem; }
.margin-left-md { margin-left: 1rem; }
.margin-left-lg { margin-left: 1.5rem; }
.margin-left-xl { margin-left: 3rem; }