@import "./responsive";

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

body {
    min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-cell {
  flex: 1;
}

.flex-initial {
    flex: initial;
}

.flex-auto {
    flex: auto;
}

.auto-margin {
    margin: 0 auto;
    width: 80vw;
}

.header-3-cols, .header-2-cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    nav {
        ul {
            display: flex;
            flex-direction: column;
        }
    }
}

.wired {
    border: 1px solid black;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

article {
    flex: 1;
}

nav, aside {
    flex: 0 0 10vw; 
}

.margin-auto {
    margin: 0 auto;
}

.layout-user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    flex: 12 1 0;
}