i.icon-hamburger {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background-image: url(/static/img/icons/hamburger-black.svg);
    background-size: 100% 100%;
}

i.icon-close {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background-image: url(/static/img/icons/close-white-fg.svg);
    background-size: 100% 100%;
}