@import "../colors";

#browse {

    .checked {
         background-color: $result_list_hover_bg_color;
         outline: 1px solid $result_list_hover_border_color;
    }

    .fa.fa-folder, .fa.fa-file {
        font-size: 1.5rem;
    }

    .table {
        a.sort.header:hover {
            text-decoration: none
        }
        th {
            border-left: 1px solid #cecece;
            border-right: 1px solid #cecece;
        }
    }

    input[type=checkbox] {
        display: none;
    }

    .node:hover {
         background-color: $result_list_hover_bg_color;
         outline: 1px solid $result_list_hover_bg_color;
         //border: 1px solid $result_list_hover_border_color;
    }

    ul.grid {
        flex-wrap: wrap;
        padding: 0;

        .node {
            position: relative;
            margin: 0.25rem;
            padding: 0.25rem 1rem;
            width: 10rem;

            .icons {
                position: absolute;
                left: 0;
                font-size: 1.8rem;
                .fa-lock {
                    color: #f00;
                }
            }

            ul.node-tags {
                position: absolute;
                right: 0;
                margin-top: 0.75rem;

                li.tag {
                    color: white;
                    background-color: green;
                    padding: 0.1rem 0.5rem;
                    margin-top: 0.25rem;
                    border-radius: 0.5rem;
                }
            }

            .placeholder.document {
                position: relative;
                overflow: hidden;
                width: 142px;
                height: 200px;
                @include respond(phone) {
                    width: 100px;
                    height: 142px;
                }
                img {
                    @include respond(phone) {
                        width: 80px;
                    }
                }
                background-repeat: no-repeat;
                background-size: contain;
                background-color: #eee;
                display: flex;
                align-items: center;
                justify-content: center;
            }



            .icon-folder {
                 width: 8rem;
                 height: 8rem;
                 background-image: url(../img/folder.svg);
                 background-size:100% 100%;
                 @include respond(phone) {
                     width: 5rem;
                     height: 5rem;
                 }

            }
            .title {
                 text-align: center;
                 opacity: 1;
                 z-index: 0;
            }
        }
    }
}

#display-mode {
    .dropdown-submenu > .dropdown-menu {
        left: -100%;
    }
}