@import "../colors";


#new-folder, #id_btn_upload, #display-mode {
    // without this, .document-browser view 'swallows'
    // all click events (because of mouseup/mousedown)
    position: relative;
    z-index: 1000;
}

#desktop-like-selection {
    background-color: $result_list_hover_bg_color_transparent;
    border: 1px solid $result_list_hover_border_color;
}

.card-body.xmain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0.25rem;

    .xmain-actions-row {

    }
    .xmain-browser-row {
        // fills container with browser element
        flex-grow: 1;
        // pagination-view is positioned absolutely
        // against .xmain-browser-row
        position: relative;
    }
}

#pagination-view {
    position: absolute;
    right: 0;
    z-index: 1000;
    bottom: 0rem;
}

#browse {
    // don't display browser default select styling as we use own desktop
    // like selection
    user-select: none;
    overflow: scroll;

    #empty-folder {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        i {
            font-size: 5rem;
            color: #aaa;
        }
        strong {
            font-size: 1rem;
            margin: 1.5rem;
        }
    }

    .checked {
        background-color: $result_list_hover_bg_color;
        outline: 1px solid $result_list_hover_border_color;
    }

    .fa.fa-folder, .fa.fa-file {
        font-size: 1.5rem;
    }

    .table {
        a.sort.header:hover {
            text-decoration: none
        }
        th {
            border-left: 1px solid #cecece;
            border-right: 1px solid #cecece;
        }
        tr {
            td.checked {
                outline: none;
                background-color: #8ed2fe00;
            }
            td.checked:hover {
                background-color: #8ed2fe00;
            }
        }
    }

    .node:hover {
        background-color: #8ed2fe66;
        outline: 1px solid #6fc5ff;
         //border: 1px solid $result_list_hover_border_color;
    }

    ul.grid {
        flex-wrap: wrap;
        padding: 0;

        .node:hover {
            input[type=checkbox] {
                display: block;
            }
        }

        .node.checked {
            input[type=checkbox] {
                display: block;
            }
        }

        .node {
            input[type=checkbox] {
                display: none;
            }
        }

        .node {
            position: relative;
            margin: 0.5rem;
            padding: 0.25rem 1rem;
            width: 10rem;
            z-index: 900;

            input[type=checkbox] {
                position: absolute;
                left: 0;
                margin: 0.25rem;
            }

            .icons {
                position: absolute;
                left: 0;
                font-size: 1.8rem;
                .fa-lock {
                    color: #f00;
                }
            }

            ul.node-tags {
                position: absolute;
                right: 0;
                margin-top: 0.75rem;

                li.tag {
                    color: white;
                    background-color: green;
                    padding: 0.1rem 0.5rem;
                    margin-top: 0.25rem;
                    border-radius: 0.5rem;
                }
            }

            .placeholder.document {
                border: 1px solid #bbb;
                position: relative;
                overflow: hidden;
                width: 80%;
                height: 150px;
                @include respond(phone) {
                    width: 100px;
                    height: 142px;
                }
                img {
                    @include respond(phone) {
                        width: 80px;
                    }
                }
                background-repeat: no-repeat;
                background-size: contain;
                display: flex;
                align-items: center;
                justify-content: center;
            }



            .icon-folder {
                 width: 90%;
                 height: 8rem;
                 background-image: url(../img/folder.svg);
                 background-size:100% 100%;
                 @include respond(phone) {
                     width: 5rem;
                     height: 5rem;
                 }

            }
            .title {
                 text-align: center;
                 opacity: 1;
                 z-index: 0;
            }
        }
    }
}

.content-wrapper.dragover {
    border: 3px dotted green;
}
