@import "./responsive";
@import "./theme";


#actual-pages {
    background-color: #ccc;
}


#document {

    ul.page_thumbnails {

        width: 10rem;
        height: 100vh;
        overflow: scroll;
        border-right: 1px solid #d7d7d7;
        padding: 0;

        li.page_thumbnail:hover {
            .arrow-up-control {
                visibility: visible;
            }
            .arrow-down-control {
                visibility: visible;
            }
        }
        
        li.page_thumbnail.last:hover {
            .arrow-down-control {
                display: none;
            }
        }

        li.page_thumbnail.first:hover {
            .arrow-up-control {
                display: none;
            }
        }

        // when there is only one page in the document
        // (i.e. the only page is first and last in same time)
        // do not display arrow controls at all.
        li.page_thumbnail.last.first:hover {
            .arrow-down-control {
                display: none;
            }
        }

        li.page_thumbnail.last.first:hover {
            .arrow-up-control {
                display: none;
            }
        }
        
        li.page_thumbnail {

            // relative position is necessary
            // because arrow-up/arrow-down controls
            // are absolute pos.
            position: relative; 
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;

            .page_number {
                input {
                    width: 2rem;
                }
            }

            .arrow-up-control {
                a {
                    color: #00b000;    
                }
                visibility: hidden;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                
            }
            .arrow-down-control {
                a {
                    color: #00b000;    
                }
                visibility: hidden;
                display: block;
                position: absolute;
                bottom: 1rem;
                left: 0;
            }
        }
    }

    ul.actual_pages {

        height: 100vh;
        overflow: scroll;

        li.actual_page {
            background-color: $gray_7;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.5);
            min-height: 400px;

            svg {
                position: absolute;
            }

        }
        fieldset.module.aligned {
            position: relative;

            .field-number {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 100;
                background-color: $gray_9;
                div {
                    padding: 0.5rem 1rem;
                    @include respond(phone) {
                        padding: 0rem 0.25rem;
                    }
                    input {
                        color: white;
                        text-align: center;
                    }
                }
            }
        }
    }

}

.hover-danger {
    &:hover {
        background-color: red;
        color: white;
        border: 1px solid red;
    }
}