#metadata {

    button[type=hidden] {
        // save button is not visible but it is
        // used to proxy click events
        visibility: hidden;
    }

    ul {
        margin: 0;
        padding: 0;
        color: white;

        li.container {
            padding: 0.5rem;
            border: 1px solid #555;
            margin: 0.5rem 0;

            .toggle, .label, .close {
                padding: 0;
            }

            .summary {
                margin: 0.5rem 0;
                input[disabled] {
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0);
                    border: 0px;
                    border-bottom: 1px solid white;
                    color: white;
                }
                input {
                    width: 100%;
                    border: 0px;
                    padding: 0.25rem;
                }
            }

            label {
                color: #999;
            }
        }
    }
}