.preferences {
    .card {
        margin: 1rem;
        i {
            display: block;
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }
        box-shadow: none;
        border-top: 3px solid #549eff;
        background-color: #f8f8f8;
        a {
            font-size: 1.1rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
}