.tags-container {
     border: 1px solid #ccc;  
     padding: 0.5rem 1rem;
     border-radius: 2px;

     .tag {
        padding: 0.25rem;
        border: 1px solid #ccc;
        margin: 0.25rem;
        span {
            margin-left: 0.5rem;
        }
        i {
            margin-left: 0.5rem;
            margin-right: 0.3rem;
        }
        border-radius: 3px;
     }

     input {
        flex: 1;
        outline: none;
        border: 0;
     }


}
