
#upload_feedback {
    .details {
        padding: 0.5rem 1rem;

        .row {
            padding: 0.25rem;
        }

        .row.status-success {
            background-color: #d5f6d6;
        }

        .row.status-fail {
            background-color: #ffbdbd;
        }
    }
    .progress-bar-green, .progress-bar-success {
        background-color: #00a65a;
    }

    .progress-bar-red, .progress-bar-fail {
        background-color: red;
    }
}

#upload_feedback {
    position: fixed;
    bottom: 1rem;
    right: 0;
    left: 0;
    max-width: 80%;
    margin: 0 auto;
    /** uploader must have higher z-index then aside bar **/
    z-index: 2000;
}